<%- include('partials/header') %>

<h1>About Us</h1>

<p>Volutpat odio facilisis mauris sit amet massa. Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Leo
    duis ut diam quam nulla porttitor massa id neque. Est lorem ipsum dolor sit. Ut morbi tincidunt augue interdum velit
    euismod. Cras semper auctor neque vitae tempus quam pellentesque nec. Et netus et malesuada fames ac turpis. Purus
    faucibus ornare suspendisse sed nisi lacus sed viverra. Ullamcorper eget nulla facilisi etiam dignissim diam quis
    enim. Sagittis aliquam malesuada bibendum arcu vitae. Consectetur libero id faucibus nisl tincidunt eget nullam non.
    Amet nisl purus in mollis nunc sed id semper.</p>

<%- include('partials/footer') %>