<%- include('partials/header') %>

<h1>Contact Us</h1>

<p>Vitae tortor condimentum lacinia quis vel eros. Praesent elementum facilisis leo vel fringilla est ullamcorper eget
    nulla. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Eu scelerisque felis imperdiet
    proin fermentum. Sodales ut eu sem integer. Arcu non odio euismod lacinia at quis. Ultricies tristique nulla aliquet
    enim tortor. Sem viverra aliquet eget sit amet tellus. Massa ultricies mi quis hendrerit dolor magna. Eget velit
    aliquet sagittis id consectetur purus. Auctor elit sed vulputate mi sit amet mauris commodo quis. Imperdiet nulla
    malesuada pellentesque elit eget gravida cum sociis natoque.</p>

<%- include('partials/footer') %>